* {
  margin: 0;
  padding: 0;
  background: #0e0e10;
}
/*This is the top bar with logo and other things  */
.bar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
  background-color: #0e0e10;
  padding-left: 2rem;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 3rem;
  height: 6rem;
  width: 12rem;
  border-radius: 1rem;
}
.home {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font: 600;
  /* font-size: 2rem; */
  transition: t
  ext-decoration 1s ease-out;
  font-family: sans-serif;
}
.home:hover {
  text-decoration: underline;
  color: white;
  font-weight: 600;
box-shadow: 0px 0px 100px rgba(5, 230, 255, 0.6);
background:none;


}
.why{
  color: black;
  background: white;
  text-decoration: none;
  /* margin-right: 2rem; */
  font-family: sans-serif;
  font-weight: 600;
}
/* .why:hover { */
  /* text-decoration: underline;
  color: white;
  font-weight: 600;
} */
.E-mail{
  height: 2rem;
  width: 7rem;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin-right: 4rem;
}
.Contact {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-family: sans-serif;
}
.Contact:hover {
  text-decoration: underline;
  color: white;
  font-weight: 600;
}
.resume {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-family: sans-serif;
}
.resume:hover {
  text-decoration: underline;
  color: white;
  font-weight: 600;
}
.MyProjects {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  font-family: sans-serif;
  cursor: pointer;
  outline: none;
}
.MyProjects:hover {
  text-decoration: underline;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
/* Here the bar ends */
/* Down below is the first section */
.container {
  background: black;
  height: 80vh;
  width:85vw;
  border-radius: 2rem;
  margin: 8rem auto;
  display: flex;
  justify-content: left;
  flex-direction: row;
      transform: translateY(100px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;

  .heading {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    width: 60%;
    background: none;
    text-align: left;
    padding: 2rem 0 0 0;
    border-radius: 1rem;
    font-family: sans-serif;
  }
  .model{
    border-radius: 15px;
    margin-top: 1.5rem;
    /* margin-right: rem; */
    
  }
  .description {
    color: white;
    font-size: 1.2rem;
    font-weight: 50;
    width: 80%;
    background: none;
    text-align: left;
    padding: 0.5rem 0 0 2rem;
    border-radius: 1rem;
    font-family: sans-serif;
    margin-top: 1rem;
  }
}
.get-ready {
  background-color: #0e0e10;
  color: white;
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
  font-family: sans-serif;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-weight: 300;
  text-decoration: none;
}
.get-ready:hover {
  background-color: #fcfcff;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.alpha {
  background: rgba(0, 0, 0, 0.5);
  display: inline;
  border-radius: 4rem;
  /* height: 100%; */
  width: 70%;
  margin-top: 4rem;
  padding-left: 7rem;
  text-align: left;
  /* display: flex; */
}
.tech_heading{
  color: white;
  font-family: sans-serif;
       transform: translateY(50px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;
}
.lang1{
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  /* align-items: space-evenly; */
  margin-left: 7rem;
  margin-top: 4rem;
    opacity: 0;
      transform: translateX(-50px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;
}
.lang2{
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  /* align-items: space-evenly; */
  margin-left: 7rem;
  margin-top: 2rem;
       transform: translateX(50px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;
}
.heading {

  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0 0 2rem;
}
.Projects{
  margin-top: 1rem;
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin:8rem 0 0 2rem;
   opacity: 0;
      transform: translateX(50px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;
}
.details{
  width: 80%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 5rem;
}
.des{
  margin-top: 1rem;
  font-family: sans-serif;
}
.card {
  color: white;
  font-family: sans-serif;
  border: 2px solid white;
  border-radius: 10px;
  width: 23rem;
  height: 20rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.html{
  margin: 1rem 0 0 0;
  height: 1.5rem;
  background: rgb(127, 0, 0);
  font-family: sans-serif;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.css{
  margin-top: 1rem;
  height: 1.5rem;
  background: rgb(5, 91, 133);
  font-family: sans-serif;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.JS{
  margin-top: 1rem;
  height: 1.5rem;
  background: rgb(209, 203, 21);
  font-family: sans-serif;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.tech{
  display: flex;
  justify-content: space-between;
  /* align-items: center;  */
  width: 100%;
  flex-direction: row;
}
.link{
  margin-top: 1rem;
  text-decoration: none;
    font-weight: 600;
      width: 7rem;
      height: 1.5rem;
      background: white;
      color: black;
      font-family: sans-serif;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
}
.footer-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  background: #000;
  font-size: 1.2rem;
  height: 20vh;
  width: 99vw;
}
.copy{
  background: #000;
  width: 25rem;
  font-family: sans-serif;
  color: white;
  font-size: .7rem;
display: flex;
justify-content: center;
align-items: center;
margin-top: 2rem;

}
.linkdin{
    background: #000;
    color: white;
    /* height: 5rem; */
    font-size: 2rem;
    margin-top: 8rem;
}
.card{
      display: flex;
      /* align-items: center; */
      /* justify-content: center; */
      flex-direction: column;
      /* font-size: 2rem; */
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.8s ease-out;
       transition: opacity 0.8s ease-out, 
                  transform 0.8s ease-out, 
                  filter 0.8s ease-out;
    }
.show {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0);
    }